@* /*
 *  Created by: Hakuryuu
 *  www.hakuryuu.net
 *  info@hakuryuu.net
 *
 *  Copyright (c) 2023 Hakuryuu
 *
 */ *@

@page "/management"

<h1>| Management</h1>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
